<h6>ALTERAR BANCO</h6>

<%= render 'form', banco: @banco %>

<div class="float-right">
    <%= link_to 'Detalhes', @banco, class:"btn blue darken-4" %>
    <%= link_to 'Outros bancos', bancos_path, class:"btn" %>
</div>