<h6>SALDOS</h6>
<div class="card saldo">
  <div class="table">
    <ul class="head">
      <li class="columns">Data</li>
      <li class="columns">Valor</li>
    </ul>
    <ul class="content">
    <% @saldos.each do |saldo| %>
      <li class="row">
        <div class="columns"><span class="hide"><b>Data</b></span><%= format_date(saldo["data"]) %></div>
        <div class="columns"><span class="hide"><b>Valor</b></span><%= number_to_currency saldo["valor"].to_f%></div>
      </li>
    <% end %>
    </ul>
  </div>

</div>
