<div style="align-items: center; text-align: center;">
  <span class="card-title">Gastos por Categoria</span>
</div>
<div class="grafic" style="width: 100%;height:300px;" onclick="chartPie(this, 'Categorias', <%=  get_data_labels_categorias(current_user) %>, '<%= j get_data_values_categorias(current_user)%>');"></div>
<div class="card-content">

</div>