<h6>DASHBOARDS
  <div class="float-right">
    <i class="material-icons" onclick="hide($('.graficos'));">insert_chart</i>
  </div>
</h6>

<div class="row graficos">
  <div class="col m1"></div>
  <div class="card col m5">
    <%= render '/dashboards/saldos_bancario' %>
  </div>

  <div class="col m1"></div>
  <div class="card col m5">
    <%= render '/dashboards/dividendos' %>
  </div>
</div>

<div class="row graficos">
  <div class="col m1"></div>
  <div class="card col m11">
    <%= render '/dashboards/categorias' %>
  </div>
</div>
