<div style="align-items: center; text-align: center;"><span class="card-title">Saldos Bancários</span></div>

<div class="grafic chart-panel grafico_saldo" style="width: 100%;height:200px;" onclick="chart(this, 'Saldos',<%=  get_data_labels_user(current_user) %>, <%= get_data_values_user(current_user)%>, 'bar');"></div>
<div class="card-content">
    <p>Data Atual: <%= format_data(data_saldo_atual()) %> </p>
    <p>Saldo Atual: <%=number_to_currency( saldo_atual()) %> </p>
</div>