<% if @bancos.empty? %>
  <div style="align-items: center; text-align: center;">
    <%= image_tag(asset_url('bank_empty.png'), alt: "Nenhum banco cadastrado no sistema.") %>
    <p>Não há bancos cadastrados, clique em + no canto direito para iniciar.<p>
  </div>
<% else %>
  <%= render '/dashboards/graficos' %>
  <%= render '/dashboards/bancos' %>
<% end %>

<div class="fixed-action-btn">
  <%= link_to  new_banco_path, class:"btn-floating btn-large waves-effect waves-light red" do%>
    <i class="material-icons">add</i>
  <% end %>
</div>

<script>
  document.querySelectorAll(".grafic").forEach(grafic => {
    grafic.click();
  });

  $(".label_banco").click(function(){
    let bancos = $(".bancos")
    if(bancos.hasClass("hide")){
      bancos.removeClass("hide")
    }else{
      bancos.addClass("hide")
    }
  });

</script>