/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "materialize";
 @import "material_icons";

 /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

 .nav-wrapper{
    padding-right: 10px;
    padding-left: 10px;
 }

 body{
   background-color: #dddddd;
   
 }

 h6{
    color: #777777;
    padding-bottom: 5px; 
 }

 h6 .material-icons{
  cursor: pointer;
 }

 .card{
   background-color: #ffffff !important;
   border-radius: 3px;
   padding: 30px;
   padding-top: 20px;
   margin-top: 20px;
   width: 100%;
   @media screen and (max-width: 380px) {
    padding: 10px;
  }
 }

 .float-right{
   float: right;
 }

 .flash_sucess{
  border-color: green;
  margin-top: 20px;
  background-color: #09980947;
  padding: 15px;
  border-radius: 5px;
  color: green;
 }

 .flash_fail{
  border-color: red;
  margin-top: 20px;
  background-color: #dd515147;
  padding: 15px;
  border-radius: 5px;
  color: red;
 }

.scroll{
  overflow: auto;
  height: 400px;
}

.pagination-info {
  margin-top: 5px;
}

.pagination {
  background-color: white;
}

.pagination a{
  color: black;
  font-style: italic;
  margin: 8px;
  text-decoration: underline
  // background: #99999987;
  // padding: 8px 12px 10px 12px;
  // border-radius: 100%;
}

.current{
  color: black;
  margin: 8px;
  font-weight: bold;
  // background: #99999987;
  // padding: 8px 12px 10px 12px;
  // border-radius: 100%;
}

.page-description{
  padding: 20px;
  float: right;
}

.total{
  border-top: 2px solid rgba(0, 0, 0, 0.52);
  border-bottom: transparent;
}

.pesquisar{
  padding: 32px !important;
  padding-bottom: 0px !important;
  padding-right: 5px !important;
}

.color-red{
  color: red;
}

.color-green{
  color: green;
}

.color-blue{
  color: #039be5;
}

.sidenav-overlay{
  position: unset !important;
}

.dropdown-content {
 top: 65px !importante;
}
