.card {
  &.form {
    .form-group {
      max-width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        max-width: min(250px, 50vw) ;
        text-align: right;
      }
    }
  }
}